*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
p,
section {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
  outline: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
